<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jyss.yqy.mapper.JBonusCjMapper" >

	<resultMap type="com.jyss.yqy.entity.JRecordTotal" id="BaseResultMap">
		<result property="amount" column="amount"  />
		<result property="cashScore" column="cashScore"  />
		<result property="shoppingScore" column="shoppingScore"  />
		<result property="elecScore" column="elecScore"  />
		<result property="showTime" column="showTime"  />
	</resultMap>


 	<!-- 查询当日总金额 -->
 	<select id="selectCjTotal"  resultType="float">
		SELECT IFNULL(SUM(amount),0.00)
		FROM j_bonus_cj
		where status = 1 and to_days(now()) = to_days(create_time)
	</select>


	<!-- 查询本周总金额 -->
 	<select id="selectCjTotalByWek"  resultType="float">
		SELECT IFNULL(SUM(amount),0.00)
		FROM j_bonus_cj
		where status = 1 and YEARWEEK(date_format(create_time,'%Y-%m-%d')) = YEARWEEK(now())
	</select>
	

	
	<!-- 按两个日期查询总收益 -->
	<select id="selectCjTotalByDay"  resultType="float">
		SELECT IFNULL(SUM(amount),0.00)
		FROM j_bonus_cj
		<where>
			<if test="beginTime != null and beginTime != ''">
				and date_format(create_time, '%Y-%m-%d') &gt;= #{beginTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and date_format(create_time, '%Y-%m-%d') &lt;= #{endTime}
			</if>
			AND status = 1 
		</where>
	</select>
	
	

	<!-- 按月查询总收益 -->
	<select id="selectCjTotalByMonth"  resultType="float">
		SELECT IFNULL(SUM(amount),0.00)
		FROM j_bonus_cj
		<where>
			<if test="month != null and month != ''">
				and date_format(create_time, '%Y-%m') = #{month}
			</if>
			AND status = 1 
		</where>
	</select>


	<!--总收益列表-->
	<select id="selectCjTotalList"  resultMap="BaseResultMap">
		select a.amount,b.cashScore,c.shoppingScore,d.elecScore,a.showTime from
		(select ifnull(sum(amount),0.00) as amount,date_format(create_time, '%Y-%m-%d') as showTime
		from j_bonus_cj where status = 1 group by date_format(create_time, '%Y-%m-%d')) a

		left join
		(select ifnull(sum(score),0.00) as cashScore,date_format(created_at, '%Y-%m-%d') as showTime
		from u_cash_score_balance where category = 5 and type = 1 and status = 1 and end = 2
		group by date_format(created_at, '%Y-%m-%d')) b on a.showTime = b.showTime

		left join
		(select ifnull(sum(score),0.00) as shoppingScore,date_format(created_at, '%Y-%m-%d') as showTime
		from u_shopping_score_balance where category = 5 and type = 1 and status = 1 and end = 2
		group by date_format(created_at, '%Y-%m-%d')) c on a.showTime = c.showTime

		left join
		(select ifnull(sum(score),0.00) as elecScore,date_format(created_at, '%Y-%m-%d') as showTime
		from u_elec_score_balance where category = 5 and type = 1 and status = 1 and end = 2
		group by date_format(created_at, '%Y-%m-%d')) d on a.showTime = d.showTime

		order by a.showTime desc
	</select>
	
	
</mapper>