<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyss.yqy.mapper.JBonusScjMapper" >
  <resultMap id="BaseResultMap" type="com.jyss.yqy.entity.JBonusScj" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="u_name" property="uName" jdbcType="VARCHAR" />
    <result column="a_id" property="aId" jdbcType="INTEGER" />
    <result column="a_name" property="aName" jdbcType="VARCHAR" />
    <result column="a_pv" property="aPv" jdbcType="FLOAT" />
    <result column="b_id" property="bId" jdbcType="INTEGER" />
    <result column="b_name" property="bName" jdbcType="VARCHAR" />
    <result column="b_pv" property="bPv" jdbcType="FLOAT" />
    <result column="pv" property="pv" jdbcType="FLOAT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
  </resultMap>

	<resultMap type="com.jyss.yqy.entity.JRecordTotal" id="BResultMap">
		<result property="amount" column="amount"  />
		<result property="cashScore" column="cashScore"  />
		<result property="shoppingScore" column="shoppingScore"  />
		<result property="elecScore" column="elecScore"  />
		<result property="showTime" column="showTime"  />
	</resultMap>
  
	<!-- 查询昨日列表详情 -->
	<select id="selectJBonusScj" parameterType="int" resultMap="BaseResultMap">
		select a.id,a.u_id,c.b_code u_name,a.a_id,b.b_code a_name,a.a_pv,a.b_id,d.b_code b_name,a.b_pv,a.pv,
		DATE_FORMAT(a.created, '%Y-%m-%d') created
		from j_bonus_scj a
		left join u_user b on a.a_id  = b.id left join u_user c on a.u_id  = c.id
		left join u_user d on a.b_id  = d.id left join j_record e on a.u_id  = e.u_id
		<where>
			<if test="zjUid != null">and e.zj_uid = #{zjUid}</if>
			and a.status = 1 and to_days(now()) - to_days(a.created) = 1
		</where>
	</select>

	<!-- 查询昨日总pv -->
	<select id="selectScjTotal" parameterType="com.jyss.yqy.entity.JBonusScj" resultType="float">
		select IFNULL(SUM(pv),0.00) as pv
		from j_bonus_scj
		where status = 1 and to_days(now()) - to_days(created) = 1
	</select>

	<!-- 查询本周列表总值详情 -->
	<select id="selectJBonusScjWek" parameterType="int" resultMap="BaseResultMap">
		select a.u_id,c.b_code u_name,a.a_id,b.b_code a_name,IFNULL(SUM(a.a_pv),0.00) as a_pv,a.b_id,
		d.b_code b_name,IFNULL(SUM(a.b_pv),0.00) as b_pv,IFNULL(SUM(a.pv),0.00) as pv
		from j_bonus_scj a
		left join u_user b on a.a_id  = b.id left join u_user c on a.u_id  = c.id
		left join u_user d on a.b_id  = d.id left join j_record e on a.u_id  = e.u_id
		<where>
			<if test="zjUid != null">and e.zj_uid = #{zjUid}</if>
			and a.status = 1 and YEARWEEK(date_format(a.created,'%Y-%m-%d')) = YEARWEEK(now())
		</where>
		group by a.u_id
	</select>
	
	<!-- 查询本周总pv -->
	<select id="selectScjTotalWek" parameterType="com.jyss.yqy.entity.JBonusScj" resultType="float">
		select IFNULL(SUM(pv),0.00) as pv
		from j_bonus_scj
		where status = 1 and YEARWEEK(date_format(created,'%Y-%m-%d')) = YEARWEEK(now())
	</select>
	
	<!-- 按两个日期查询个人列表详情 -->
	<!--<select id="selectJBonusScjByUidAndDay" parameterType="com.jyss.yqy.entity.JBonusScj" resultMap="BaseResultMap">
		select a.id,a.u_id,e.real_name u_name,a.a_id,d.real_name a_name,a.a_pv,a.b_id,f.real_name b_name,a.b_pv,a.pv,
		DATE_FORMAT(a.created, '%Y-%m-%d') created
		from j_bonus_scj a 
		left join (select b.id,c.real_name from u_user b,u_user_auth c where b.uuid = c.u_uuid ) d on a.a_id  = d.id
		left join (select b.id,c.real_name from u_user b,u_user_auth c where b.uuid = c.u_uuid ) e on a.u_id  = e.id
		left join (select b.id,c.real_name from u_user b,u_user_auth c where b.uuid = c.u_uuid ) f on a.b_id  = f.id
		<where>
			<if test="uId != null and uId != ''">
				and a.u_id = #{uId,jdbcType=INTEGER}
			</if>
			<if test="beginTime != null and beginTime != ''">
				and date_format(a.created, '%Y-%m-%d') &gt;= #{beginTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and date_format(a.created, '%Y-%m-%d') &lt;= #{endTime}
			</if>
			and a.status = 1
		</where>
		ORDER BY a.created DESC
	</select>-->
	
	<!-- 按两个日期查询个人列表总值详情 -->
	<select id="selectJBonusScjByDay" parameterType="com.jyss.yqy.entity.JBonusScj" resultMap="BaseResultMap">
		select a.u_id,c.b_code u_name,a.a_id,b.b_code a_name,IFNULL(SUM(a.a_pv),0.00) as a_pv,a.b_id,
		d.b_code b_name,IFNULL(SUM(a.b_pv),0.00) as b_pv,IFNULL(SUM(a.pv),0.00) as pv
		from j_bonus_scj a
		left join u_user b on a.a_id  = b.id left join u_user c on a.u_id  = c.id
		left join u_user d on a.b_id  = d.id left join j_record e on a.u_id  = e.u_id
		<where>
			<if test="zjUid != null">and e.zj_uid = #{zjUid}</if>
			<if test="beginTime != null and beginTime != ''">
				and date_format(a.created, '%Y-%m-%d') &gt;= #{beginTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and date_format(a.created, '%Y-%m-%d') &lt;= #{endTime}
			</if>
			and a.status = 1
		</where>
		group by a.u_id
	</select>
	
	<!-- 按两个日期查询总pv -->
	<select id="selectScjTotalByDay" parameterType="com.jyss.yqy.entity.JBonusScj" resultType="float">
		select IFNULL(SUM(pv),0.00) as pv
		from j_bonus_scj
		<where>
			<if test="beginTime != null and beginTime != ''">
				and date_format(created, '%Y-%m-%d') &gt;= #{beginTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and date_format(created, '%Y-%m-%d') &lt;= #{endTime}
			</if>
			and status = 1
		</where>
	</select>
	
	<!-- 按月查询查询个人列表详情 -->
	<!--<select id="selectJBonusScjByUidAndMonth" parameterType="com.jyss.yqy.entity.JBonusScj"  resultMap="BaseResultMap">
		select a.id,a.u_id,e.real_name u_name,a.a_id,d.real_name a_name,a.a_pv,a.b_id,f.real_name b_name,a.b_pv,a.pv,
		DATE_FORMAT(a.created, '%Y-%m-%d') created
		from j_bonus_scj a 
		left join (select b.id,c.real_name from u_user b,u_user_auth c where b.uuid = c.u_uuid ) d on a.a_id  = d.id
		left join (select b.id,c.real_name from u_user b,u_user_auth c where b.uuid = c.u_uuid ) e on a.u_id  = e.id
		left join (select b.id,c.real_name from u_user b,u_user_auth c where b.uuid = c.u_uuid ) f on a.b_id  = f.id
		<where> 
			<if test="uId != null and uId != ''">
				and a.u_id = #{uId,jdbcType=INTEGER}
			</if>
			<if test="month != null and month != ''">
				and date_format(a.created, '%Y-%m') = #{month}
			</if>
			and a.status = 1
		</where>
		ORDER BY a.created DESC 
	</select> -->
	
	<!-- 按月查询查询个人列表总值详情 -->
	<select id="selectJBonusScjByMonth" parameterType="com.jyss.yqy.entity.JBonusScj"  resultMap="BaseResultMap">
		select a.u_id,c.b_code u_name,a.a_id,b.b_code a_name,IFNULL(SUM(a.a_pv),0.00) as a_pv,a.b_id,
		d.b_code b_name,IFNULL(SUM(a.b_pv),0.00) as b_pv,IFNULL(SUM(a.pv),0.00) as pv
		from j_bonus_scj a
		left join u_user b on a.a_id  = b.id left join u_user c on a.u_id  = c.id
		left join u_user d on a.b_id  = d.id left join j_record e on a.u_id  = e.u_id
		<where>
			<if test="zjUid != null">and e.zj_uid = #{zjUid}</if>
			<if test="month != null and month != ''">
				and date_format(a.created, '%Y-%m') = #{month}
			</if>
			and a.status = 1
		</where>
		group by a.u_id
	</select>


	<!-- 按月查询总pv -->
	<select id="selectScjTotalByMonth" parameterType="com.jyss.yqy.entity.JBonusScj"  resultType="float">
		select IFNULL(SUM(pv),0.00) as pv
		from j_bonus_scj
		<where>
			<if test="month != null and month != ''">
				and date_format(created, '%Y-%m') = #{month}
			</if>
			and status = 1 
		</where>
	</select>


	<!-- 查询列表历史总值 -->
	<select id="selectTotalJBonusScj" resultMap="BaseResultMap">
		select a.u_id,c.b_code u_name,a.a_id,b.b_code a_name,IFNULL(SUM(a.a_pv),0.00) as a_pv,a.b_id,
		d.b_code b_name,IFNULL(SUM(a.b_pv),0.00) as b_pv,IFNULL(SUM(a.pv),0.00) as pv
		from j_bonus_scj a
		left join u_user b on a.a_id  = b.id left join u_user c on a.u_id  = c.id
		left join u_user d on a.b_id  = d.id left join j_record e on a.u_id  = e.u_id
		where a.status = 1 group by a.u_id
	</select>


	<!--总收益列表-->
	<select id="selectScjTotalList" parameterType="string" resultMap="BResultMap">
		select a.amount,ifnull(b.cashScore,0.00) cashScore,ifnull(c.shoppingScore,0.00) shoppingScore,
		ifnull(d.elecScore,0.00) elecScore,a.showTime from
		(select ifnull(sum(pv),0.00) as amount,date_format(created, '%Y-%m-%d') as showTime
		from j_bonus_scj where status = 1 group by date_format(created, '%Y-%m-%d')) a

		left join
		(select ifnull(sum(score),0.00) as cashScore,date_format(js_time, '%Y-%m-%d') as showTime
		from u_cash_score_balance where category = 6 and type = 1 and status = 1 and end = 2
		group by date_format(js_time, '%Y-%m-%d')) b on a.showTime = b.showTime

		left join
		(select ifnull(sum(score),0.00) as shoppingScore,date_format(js_time, '%Y-%m-%d') as showTime
		from u_shopping_score_balance where category = 6 and type = 1 and status = 1 and end = 2
		group by date_format(js_time, '%Y-%m-%d')) c on a.showTime = c.showTime

		left join
		(select ifnull(sum(score),0.00) as elecScore,date_format(js_time, '%Y-%m-%d') as showTime
		from u_elec_score_balance where category = 6 and type = 1 and status = 1 and end = 2
		group by date_format(js_time, '%Y-%m-%d')) d on a.showTime = d.showTime

		where date_format(a.showTime, '%Y-%m') = #{month}
		order by a.showTime desc
	</select>

	
 
</mapper>