
<!--  <?xml version="1.0" encoding="UTF-8" ?>-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jyss.yqy.mapper.NewsMapper" > 

    <resultMap type="com.jyss.yqy.entity.News" id="newResultMap">   
        <id property="id" column="id"  />
        <result property="titles" column="titles"  />
        <result property="pics" column="pics"  />
        <result property="byteSize" column="byte_size"  />        
        <result property="contents" column="contents"  />
        <result property="type" column="type"  />
        <result property="createdAt" column="created_at"  />
        <result property="lastModifyTime" column="last_modify_time"  />
        <result property="cjsj" column="cjsj"  />
        <result property="xgsj" column="xgsj"  />

    </resultMap>  
    
   <resultMap type="com.jyss.yqy.entity.ShareNews" id="fxResultMap">    
        <id property="id" column="id"  />
        <result property="sid" column="sid"  />
        <result property="dId" column="d_id"  />
        <result property="pId" column="p_id"  />
        <result property="uname" column="uname"  />
        <result property="docId" column="doc_id"  />
        <result property="newsId" column="news_id"  />
        <result property="isRead" column="is_read"  />
        <result property="ysType" column="ys_type"  />
        <result property="account" column="account"  />
        <result property="avatar" column="avatar"  />
        <result property="dwName" column="dw_name"  />
        <result property="titles" column="titles"  />
        <result property="pics" column="pics"  />      
        <result property="contents" column="contents"  />
        <result property="type" column="type"  />
        <result property="fxsj" column="fxsj"  />
        <result property="sjc" column="sjc"  />


    </resultMap>  
    
    <!-- 病人端-->  
    <!-- 查询病人消息--> 
    <select id="getPatNews" resultMap="newResultMap" >  
         select n.*,DATE_FORMAT(n.created_at, '%Y-%m-%d %H:%i:%s' ) cjsj,DATE_FORMAT(n.last_modify_time, '%Y-%m-%d %H:%i:%s' ) xgsj
        	from (
					select * from p_news where type in(1,3) 
					union 
					select * from p_news where id in(select news_id from p_share where type = 1 and p_id =#{id} )  ) n    
        	order by n.last_modify_time desc
    </select>  
     
   
    <!-- 后台-->  
    <!-- 查询消息--> 
    <select id="getNews" resultMap="newResultMap" >  
         select n.*,DATE_FORMAT(n.created_at, '%Y-%m-%d %H:%i:%s' ) cjsj,DATE_FORMAT(n.last_modify_time, '%Y-%m-%d %H:%i:%s' ) xgsj
        	from p_news n     order by n.last_modify_time desc
    </select> 
    
    <select id="getNewsBy" resultMap="newResultMap">  
        select n.*,DATE_FORMAT(n.created_at, '%Y-%m-%d %H:%i:%s' ) cjsj,DATE_FORMAT(n.last_modify_time, '%Y-%m-%d %H:%i:%s' ) xgsj
       	   from p_news n 
         <where> 
			  <if test="titles != null and titles !=''"> n.titles  LIKE CONCAT('%',#{titles},'%') </if> 			  
		 </where> 
		 order by n.last_modify_time desc
    </select> 

     <insert id="addNews" parameterType="com.jyss.yqy.entity.News" 
        useGeneratedKeys="true" keyProperty="id"> 
        insert into p_news values(null,#{titles},#{pics},#{contents},#{type},#{createdAt},null,#{byteSize})  
            
    </insert>
    
    <update id="updateNews" parameterType="com.jyss.yqy.entity.News" >
        update p_news
           set titles = #{titles},pics = #{pics},contents = #{contents},type = #{type},last_modify_time = #{lastModifyTime},byte_size = #{byteSize}
        where id=#{id}
    </update>
    
    <delete id="deleteNews" parameterType="java.util.List">
        delete from p_news  where id in 
	    <foreach collection="ids" item="id" open="(" separator="," close=")">   
	        #{id}   
	    </foreach>  
    </delete>
    
    
       
    <!-- 医生端  新闻===-->  
    <select id="getDocNews" resultMap="newResultMap" >  
           select n.*,DATE_FORMAT(n.created_at, '%Y-%m-%d %H:%i:%s' ) cjsj,DATE_FORMAT(n.last_modify_time, '%Y-%m-%d %H:%i:%s' ) xgsj
        	  from p_news n    where type in(2,3)    
        	  order by n.last_modify_time desc
        	  limit 6 
    </select>
     <!-- 医生端  新闻==下拉刷新==第一条数据id--> 
    <select id="getDocNewsByXl" resultMap="newResultMap" >  
           select n.*,DATE_FORMAT(n.created_at, '%Y-%m-%d %H:%i:%s' ) cjsj,DATE_FORMAT(n.last_modify_time, '%Y-%m-%d %H:%i:%s' ) xgsj
        	  from p_news n    
        	  <where> 
			      type in(2,3) 		 
			    <!--  <if test="sjc != null and sjc !=''"> and n.created_at &gt; FROM_UNIXTIME(#{sjc}/1000) </if> -->
			     <if test="id != null and id !=''"> and n.id &gt; #{id} </if> 			  
		      </where>      
        	  order by n.last_modify_time
        	  limit 6 
    </select> 
     
    
     <!-- 医生端  新闻==上拉刷新==最后一条数据id-->  
    <select id="getDocNewsBySl" resultMap="newResultMap" >  
           select n.*,DATE_FORMAT(n.created_at, '%Y-%m-%d %H:%i:%s' ) cjsj,DATE_FORMAT(n.last_modify_time, '%Y-%m-%d %H:%i:%s' ) xgsj
        	  from p_news n   
        	 <where> 
			  type in(2,3) 		 
			<!--   <if test="sjc != null and sjc !=''"> and n.created_at &lt; FROM_UNIXTIME(#{sjc}/1000) </if> -->
			   <if test="id != null and id !=''"> and n.id &lt; #{id} </if>  			  
		   </where>   
        	  order by n.last_modify_time desc
        	  limit 6 
    </select> 
    
    
    
    <!-- 医生端  新闻分享--> 
    
    <insert id="addShare" parameterType="com.jyss.yqy.entity.Share" 
        useGeneratedKeys="true" keyProperty="id"> 
        insert into p_share values(null,#{dId},#{pId},#{docId},#{newsId},#{createdAt},null,#{type},#{isRead})              
    </insert>
    
    <!-- 医生端  新闻分享展示===-->  
    <select id="getDocFxNews" resultMap="fxResultMap" >  
          select * from (
			select s.id as sid,s.d_id,s.p_id,s.doc_id,s.news_id,DATE_FORMAT(s.created_at, '%Y-%m-%d %H:%i:%s' ) fxsj,s.type as ys_type,s.is_read,d.account,d.uname,d.dw_name,d.avatar,n.* from p_share s
			left join p_account_doctors d
			on s.doc_id = d.id
			left join p_news n
			on s.news_id = n.id) t
			<where> 
			   t.ys_type=2   
			  <if test="dId != null and dId !=''"> and t.doc_id =#{dId} </if> 			  
		   </where> 
		order by t.fxsj desc
		limit 6
    </select> 
    
     <!-- 医生端  新闻分享展示==下拉刷新多加载6条-->  
    <select id="getDocFxNewsByXl" resultMap="fxResultMap" >  
          select * from (
			select s.id as sid,s.d_id,s.p_id,s.doc_id,s.news_id,s.created_at as sjc,DATE_FORMAT(s.created_at, '%Y-%m-%d %H:%i:%s' ) fxsj,s.type as ys_type,s.is_read,d.account,d.uname,d.dw_name,d.avatar,n.* from p_share s
			left join p_account_doctors d
			on s.doc_id = d.id
			left join p_news n
			on s.news_id = n.id) t
			<where> 
			   t.ys_type=2   
			  <if test="dId != null and dId !=''"> and t.doc_id = #{dId} </if> 
			  <if test="id != null and id !=''"> and t.id &gt; #{id} </if>  
			 <!--  <if test="sjc != null and sjc !=''"> and t.sjc &lt; FROM_UNIXTIME(#{sjc}/1000) </if> 	 -->		  
		   </where> 
		order by t.fxsj 
		limit 6
    </select> 
    
      <!-- 医生端  新闻分享展示==上拉刷新多加载6条-->  
    <select id="getDocFxNewsBySl" resultMap="fxResultMap" >  
          select * from (
			select s.id as sid,s.d_id,s.p_id,s.doc_id,s.news_id,s.created_at as sjc,DATE_FORMAT(s.created_at, '%Y-%m-%d %H:%i:%s' ) fxsj,s.type as ys_type,s.is_read,d.account,d.uname,d.dw_name,d.avatar,n.* from p_share s
			left join p_account_doctors d
			on s.doc_id = d.id
			left join p_news n
			on s.news_id = n.id) t
			<where> 
			   t.ys_type=2   
			  <if test="dId != null and dId !=''"> and t.doc_id = #{dId} </if> 
			  <if test="id != null and id !=''"> and t.id &lt; #{id} </if>  
			 <!--  <if test="sjc != null and sjc !=''"> and t.sjc &lt; FROM_UNIXTIME(#{sjc}/1000) </if> 	 -->		  
		   </where> 
		order by t.fxsj desc
		limit 6
    </select> 
    
    
    <update id="upFxNewsRead" parameterType="int" >
        update p_share
           set is_read = 1
        where id=#{sid}
    </update>

</mapper>